@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left: 15px; padding-right: 15px;">

    <input type="hidden" id="hddMensaje" value="@ViewBag.sMensaje">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 class="gen-h2-titulo">Página de Inicio</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Inicio</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <br />

 
</div>